@use '../utils' as *;

// swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal
.articles {
  background: $cool-gray ;
  padding: 2rem 0rem;

  svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}


@media (min-width:768px) {
  .articles {
    padding: 4rem 0rem;

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
      justify-content: center;
    }
  }
}