@use '../utils' as *;

// swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal
.articles {
  background: $cool-gray ;
  padding: 2rem 0rem;


  .swiper-pagination {
    bottom: -1rem;

    &-bullets {}

    &-bullet {
      width: 1rem;
      height: 1rem;
      background: $dark-purple;

    }
  }
}


@media (min-width:768px) {
  .articles {
    padding: 4rem 0rem;

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
      justify-content: center;
    }
  }
}